<!DOCTYPE html>

<html>
<head>
    <title>Remoter Log In</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" href="/static/icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black" />

    <link href="/static/style.css" rel="stylesheet" type="text/css"
          media="all">
</head>

<body>
    <form action="/" method="post">
        <input type="password" placeholder="password" name="password"
        /><input type="submit" value="log in" />
    </form>
</body>
</html>
